* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}
h1, h2, h3 {
    color: #333;
}   
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
h2 {
    font-size: 2em;
    margin-bottom: 15px;
}
